<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<appSettings>
		<add key="SQLConnectionString" value="xfZFntjf224QQOIU28zMwPMqygJLOJyo/aE4a6+TSzIV62zSd2d8AnRIe/zaDe2tUquG4ygLph5iFFhRzhIqMGjDhkEVqhkNeUQsH86jAdUaHwyRwbmYkxYJpAnuJkKuAHJqq+7EPhi9ywejNBGfXw==" />
		<add key="LogPath" value="lcoK2O67ZvcCQzFx2Nu4Ljtuotcg2ED27Xx+Tkq/YMyNb4uZSTGBvA==" />
	</appSettings>
	
  <system.web>
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2" />

	<customErrors mode="On" defaultRedirect="~/PageNotFound.aspx">
		<error statusCode="401" redirect="~/PageNotFound.aspx"/>
		<error statusCode="403" redirect="~/PageNotFound.aspx"/>
		<error statusCode="404" redirect="~/PageNotFound.aspx"/>
		<error statusCode="405" redirect="~/PageNotFound.aspx"/>
		<error statusCode="406" redirect="~/PageNotFound.aspx"/>
		<error statusCode="412" redirect="~/PageNotFound.aspx"/>
		<error statusCode="500" redirect="~/PageNotFound.aspx"/>
		<error statusCode="501" redirect="~/PageNotFound.aspx"/>
		<error statusCode="502" redirect="~/PageNotFound.aspx"/>
	</customErrors>
	<urlMappings enabled="true">
		<add url="~/Dashboard" mappedUrl="~/v2v_DashboardDetails.aspx"/>
		<add url="~/Insertions" mappedUrl="~/v2v_AddDetails.aspx"/>
		<add url="~/InIv2VSet" mappedUrl="~/v2v_INISetting.aspx"/>
		<add url="~/LoginPage" mappedUrl="~/Login.aspx"/>
		<add url="~/Users" mappedUrl="~/v2v_UserManagement.aspx"/>
		<add url="~/View-Update" mappedUrl="~/v2v_ViewAndEdit.aspx"/>
		<add url="~/PageNotFound" mappedUrl="~/PageNotFound.aspx"/>
	</urlMappings>
	  
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
</configuration>