USE [master]
GO
/****** Object:  Database [LibraryHub]    Script Date: 7/3/2022 8:54:23 AM ******/
CREATE DATABASE [LibraryHub]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'LibraryHub', FILENAME = N'C:\Program Files\Microsoft SQL Server Express 2019\MSSQL15.SQLEXPRESS\MSSQL\DATA\LibraryHub.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'LibraryHub_log', FILENAME = N'C:\Program Files\Microsoft SQL Server Express 2019\MSSQL15.SQLEXPRESS\MSSQL\DATA\LibraryHub_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [LibraryHub].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [LibraryHub]
GO
/****** Object:  UserDefinedFunction [dbo].[FUN_CHECK_OMIN]    Script Date: 7/3/2022 8:54:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[FUN_CHECK_OMIN](@ADDEDDATE DATETIME)
RETURNS INT
AS
BEGIN
	DECLARE @NUM INT;
	SET @NUM = (SELECT DATEDIFF(n, @ADDEDDATE, GETDATE()));
	RETURN @NUM;
END
GO
/****** Object:  Table [dbo].[IF_INISETTING]    Script Date: 7/3/2022 8:54:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[IF_INISETTING](
	[INI_ID] [int] IDENTITY(1,1) NOT NULL,
	[INI_DESCRIPTION] [varchar](100) NULL,
	[INI_VALUE] [varchar](200) NULL,
	[INI_ISENCRYPT] [bit] NULL DEFAULT ((0)),
	[INI_CREATEDDATE] [datetime] NULL,
	[INI_UPDATEDATE] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[INI_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[IF_INISETTING_TRACK]    Script Date: 7/3/2022 8:54:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[IF_INISETTING_TRACK](
	[INI_ID] [int] IDENTITY(1,1) NOT NULL,
	[INI_DESCRIPTION] [varchar](100) NULL,
	[INI_VALUE] [varchar](200) NULL,
	[INI_ISENCRYPT] [bit] NULL,
	[INI_CREATEDDATE] [datetime] NULL,
	[INI_UPDATEDATE] [datetime] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[IF_MASTER_BOOK_DESC]    Script Date: 7/3/2022 8:54:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[IF_MASTER_BOOK_DESC](
	[MBD_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[MBD_BM_ID] [bigint] NULL,
	[MBD_DESC] [varchar](max) NULL,
	[MBD_TYPE] [varchar](100) NULL,
	[MBD_PRICE] [int] NULL,
	[MBD_STATUS] [int] NULL DEFAULT ((0)),
	[MBD_NUMOFSTOCK] [int] NULL,
	[MBD_CREATEDTIME] [datetime] NULL,
	[MBD_DISCOUNTINPERCENT] [int] NULL,
	[MBD_DISCOUNTDESC] [varchar](200) NULL,
	[MBD_IMGNAME] [varchar](200) NULL,
	[MBD_DISCOUNTEDPRICE] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MBD_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[IF_MASTER_BOOK_DESC_TRACK]    Script Date: 7/3/2022 8:54:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[IF_MASTER_BOOK_DESC_TRACK](
	[MBD_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[MBD_BM_ID] [bigint] NULL,
	[MBD_DESC] [varchar](max) NULL,
	[MBD_TYPE] [varchar](100) NULL,
	[MBD_PRICE] [int] NULL,
	[MBD_STATUS] [int] NULL,
	[MBD_NUMOFSTOCK] [int] NULL,
	[MBD_CREATEDTIME] [datetime] NULL,
	[MBD_DISCOUNTINPERCENT] [int] NULL,
	[MBD_DISCOUNTDESC] [varchar](200) NULL,
	[MBD_IMGNAME] [varchar](200) NULL,
	[MBD_DISCOUNTEDPRICE] [int] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[IF_MASTER_BOOKS]    Script Date: 7/3/2022 8:54:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[IF_MASTER_BOOKS](
	[BM_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[BM_BOOKNAME] [varchar](100) NULL,
	[BM_AUTHORNAME] [varchar](100) NULL,
	[BM_PUBLISHERNAME] [varchar](100) NULL,
	[BM_STATUS] [int] NULL DEFAULT ((0)),
	[BM_CREATEDTIME] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[BM_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[IF_MASTER_BOOKS_TRACK]    Script Date: 7/3/2022 8:54:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[IF_MASTER_BOOKS_TRACK](
	[BM_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[BM_BOOKNAME] [varchar](100) NULL,
	[BM_AUTHORNAME] [varchar](100) NULL,
	[BM_PUBLISHERNAME] [varchar](100) NULL,
	[BM_STATUS] [int] NULL,
	[BM_CREATEDTIME] [datetime] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[IF_SEARCHHOMEOPTIONSDDL]    Script Date: 7/3/2022 8:54:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[IF_SEARCHHOMEOPTIONSDDL](
	[SHO_ID] [int] IDENTITY(1,1) NOT NULL,
	[SHO_NAME] [varchar](100) NULL,
	[SHO_STATUS] [int] NULL DEFAULT ((0)),
PRIMARY KEY CLUSTERED 
(
	[SHO_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[IF_SQLLOG]    Script Date: 7/3/2022 8:54:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[IF_SQLLOG](
	[SQL_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[SQL_PROC_NAME] [varchar](100) NULL,
	[SQL_ERROR_NUMBER] [bigint] NULL,
	[SQL_ERROR_DESCRIPTION] [varchar](500) NULL,
	[SQL_ERROR_LINE] [bigint] NULL,
	[SQL_SEVERITY] [int] NULL,
	[SQL_ERROR_STATE] [int] NULL,
	[SQL_DATETIME] [datetime] NULL,
	[SQL_USERID] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[SQL_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[IF_SQLLOG_TRACK]    Script Date: 7/3/2022 8:54:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[IF_SQLLOG_TRACK](
	[SQL_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[SQL_PROC_NAME] [varchar](100) NULL,
	[SQL_ERROR_NUMBER] [bigint] NULL,
	[SQL_ERROR_DESCRIPTION] [varchar](500) NULL,
	[SQL_ERROR_LINE] [bigint] NULL,
	[SQL_SEVERITY] [int] NULL,
	[SQL_ERROR_STATE] [int] NULL,
	[SQL_DATETIME] [datetime] NULL,
	[SQL_USERID] [bigint] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[IF_USERADDRESSDETAILS]    Script Date: 7/3/2022 8:54:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[IF_USERADDRESSDETAILS](
	[UAD_ID] [int] IDENTITY(1,1) NOT NULL,
	[UAD_UD_ID] [bigint] NULL,
	[UAD_ADDRESSLINE1] [varchar](100) NULL,
	[UAD_ADDRESSLINE2] [varchar](100) NULL,
	[UAD_CITY] [varchar](50) NULL,
	[UAD_DISTRICT] [varchar](50) NULL,
	[UAD_PINCODE] [varchar](10) NULL,
	[UAD_COUNTRY] [varchar](50) NULL,
	[UAD_STATE] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[UAD_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[IF_USERADDRESSDETAILS_TRACK]    Script Date: 7/3/2022 8:54:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[IF_USERADDRESSDETAILS_TRACK](
	[UAD_ID] [int] IDENTITY(1,1) NOT NULL,
	[UAD_UD_ID] [bigint] NULL,
	[UAD_ADDRESSLINE1] [varchar](100) NULL,
	[UAD_ADDRESSLINE2] [varchar](100) NULL,
	[UAD_CITY] [varchar](50) NULL,
	[UAD_DISTRICT] [varchar](50) NULL,
	[UAD_PINCODE] [varchar](10) NULL,
	[UAD_COUNTRY] [varchar](50) NULL,
	[UAD_STATE] [varchar](50) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[IF_USERDETAILS]    Script Date: 7/3/2022 8:54:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[IF_USERDETAILS](
	[UD_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[UD_CUSTOMERFIRSTNAME] [varchar](50) NULL,
	[UD_CUSTOMERMIDDLENAME] [varchar](50) NULL,
	[UD_CUSTOMERLASTNAME] [varchar](50) NULL,
	[UD_CUSTOMERFULLNAME] [varchar](100) NULL,
	[UD_MOBILENUMBER] [varchar](10) NULL,
	[UD_EMAILID] [varchar](100) NULL,
	[UD_QUANTITY] [int] NULL,
	[UD_EMAILSENTSTATUS] [int] NULL DEFAULT ((0)),
	[UD_PREFEREDBOOK] [bigint] NULL,
	[UD_WHATSAPPRECIEVEDSTATUS] [bit] NULL DEFAULT ((0)),
	[UD_EMAILOTPSENT] [bit] NULL DEFAULT ((0)),
	[UD_MOBILEOTPSENT] [bit] NULL DEFAULT ((0)),
	[UD_EMAILOTPVALID] [bit] NULL DEFAULT ((0)),
	[UD_MOBILEOTPVALID] [bit] NULL DEFAULT ((0)),
	[UD_SMSSENTSTATUS] [bit] NULL DEFAULT ((0)),
	[UD_CREATEDDATE] [datetime] NULL,
	[UD_OTPSENTTIME] [datetime] NULL,
	[UD_ALTER_MOBILENUMBER] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[UD_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[IF_USERDETAILS_TRACK]    Script Date: 7/3/2022 8:54:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[IF_USERDETAILS_TRACK](
	[UD_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[UD_CUSTOMERFIRSTNAME] [varchar](50) NULL,
	[UD_CUSTOMERMIDDLENAME] [varchar](50) NULL,
	[UD_CUSTOMERLASTNAME] [varchar](50) NULL,
	[UD_CUSTOMERFULLNAME] [varchar](100) NULL,
	[UD_MOBILENUMBER] [varchar](10) NULL,
	[UD_EMAILID] [varchar](100) NULL,
	[UD_QUANTITY] [int] NULL,
	[UD_EMAILSENTSTATUS] [int] NULL,
	[UD_PREFEREDBOOK] [bigint] NULL,
	[UD_WHATSAPPRECIEVEDSTATUS] [bit] NULL,
	[UD_EMAILOTPSENT] [bit] NULL,
	[UD_MOBILEOTPSENT] [bit] NULL,
	[UD_EMAILOTPVALID] [bit] NULL,
	[UD_MOBILEOTPVALID] [bit] NULL,
	[UD_SMSSENTSTATUS] [bit] NULL,
	[UD_CREATEDDATE] [datetime] NULL,
	[UD_OTPSENTTIME] [datetime] NULL,
	[UD_ALTER_MOBILENUMBER] [varchar](20) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[IF_USERMASTER]    Script Date: 7/3/2022 8:54:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[IF_USERMASTER](
	[UM_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[UM_USERNAME] [varchar](100) NULL,
	[UM_PASSWORD] [varbinary](150) NULL,
	[UM_CREATEDTIME] [datetime] NULL,
	[UM_EXPIRYDATE] [datetime] NULL,
	[UM_INVALIDATTEMPT] [int] NULL DEFAULT ((0)),
	[UM_ACTIVESTATUS] [int] NULL DEFAULT ((0)),
PRIMARY KEY CLUSTERED 
(
	[UM_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[IF_USERMASTER_TRACK]    Script Date: 7/3/2022 8:54:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[IF_USERMASTER_TRACK](
	[UM_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[UM_USERNAME] [varchar](100) NULL,
	[UM_PASSWORD] [varbinary](150) NULL,
	[UM_CREATEDTIME] [datetime] NULL,
	[UM_EXPIRYDATE] [datetime] NULL,
	[UM_INVALIDATTEMPT] [int] NULL,
	[UM_ACTIVESTATUS] [int] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[IF_INISETTING] ON 

INSERT [dbo].[IF_INISETTING] ([INI_ID], [INI_DESCRIPTION], [INI_VALUE], [INI_ISENCRYPT], [INI_CREATEDDATE], [INI_UPDATEDATE]) VALUES (1, N'ExpDate', N'', 0, NULL, NULL)
INSERT [dbo].[IF_INISETTING] ([INI_ID], [INI_DESCRIPTION], [INI_VALUE], [INI_ISENCRYPT], [INI_CREATEDDATE], [INI_UPDATEDATE]) VALUES (2, N'Image Source Path', N'lcoK2O67ZvcCQzFx2Nu4LhxDK9Myc9t0xUOxMOYT0Uw=', 1, NULL, NULL)
INSERT [dbo].[IF_INISETTING] ([INI_ID], [INI_DESCRIPTION], [INI_VALUE], [INI_ISENCRYPT], [INI_CREATEDDATE], [INI_UPDATEDATE]) VALUES (1002, N'Log Path', N'lcoK2O67ZvcCQzFx2Nu4Ljtuotcg2ED27Xx+Tkq/YMyNb4uZSTGBvA==', 1, NULL, NULL)
SET IDENTITY_INSERT [dbo].[IF_INISETTING] OFF
SET IDENTITY_INSERT [dbo].[IF_INISETTING_TRACK] ON 

INSERT [dbo].[IF_INISETTING_TRACK] ([INI_ID], [INI_DESCRIPTION], [INI_VALUE], [INI_ISENCRYPT], [INI_CREATEDDATE], [INI_UPDATEDATE]) VALUES (1, N'ExpDate', N'', 0, NULL, NULL)
INSERT [dbo].[IF_INISETTING_TRACK] ([INI_ID], [INI_DESCRIPTION], [INI_VALUE], [INI_ISENCRYPT], [INI_CREATEDDATE], [INI_UPDATEDATE]) VALUES (2, N'Image Source Path', N'lcoK2O67ZvcCQzFx2Nu4LhxDK9Myc9t0xUOxMOYT0Uw=', 1, NULL, NULL)
INSERT [dbo].[IF_INISETTING_TRACK] ([INI_ID], [INI_DESCRIPTION], [INI_VALUE], [INI_ISENCRYPT], [INI_CREATEDDATE], [INI_UPDATEDATE]) VALUES (1002, N'Log Path', N'lcoK2O67ZvcCQzFx2Nu4Ljtuotcg2ED27Xx+Tkq/YMyNb4uZSTGBvA==', 1, NULL, NULL)
SET IDENTITY_INSERT [dbo].[IF_INISETTING_TRACK] OFF
SET IDENTITY_INSERT [dbo].[IF_MASTER_BOOK_DESC] ON 

INSERT [dbo].[IF_MASTER_BOOK_DESC] ([MBD_ID], [MBD_BM_ID], [MBD_DESC], [MBD_TYPE], [MBD_PRICE], [MBD_STATUS], [MBD_NUMOFSTOCK], [MBD_CREATEDTIME], [MBD_DISCOUNTINPERCENT], [MBD_DISCOUNTDESC], [MBD_IMGNAME], [MBD_DISCOUNTEDPRICE]) VALUES (1, 1, N'Group III, Group IV, VAO', N'Grammer', 300, 1, 1, CAST(N'2022-02-12 17:22:58.637' AS DateTime), NULL, NULL, N'C1.jpg', NULL)
INSERT [dbo].[IF_MASTER_BOOK_DESC] ([MBD_ID], [MBD_BM_ID], [MBD_DESC], [MBD_TYPE], [MBD_PRICE], [MBD_STATUS], [MBD_NUMOFSTOCK], [MBD_CREATEDTIME], [MBD_DISCOUNTINPERCENT], [MBD_DISCOUNTDESC], [MBD_IMGNAME], [MBD_DISCOUNTEDPRICE]) VALUES (2, 1, N'Group III, Group IV, VAO', N'Literature', 300, 1, 1, CAST(N'2022-02-12 17:22:58.637' AS DateTime), NULL, NULL, N'C2.jpg', NULL)
INSERT [dbo].[IF_MASTER_BOOK_DESC] ([MBD_ID], [MBD_BM_ID], [MBD_DESC], [MBD_TYPE], [MBD_PRICE], [MBD_STATUS], [MBD_NUMOFSTOCK], [MBD_CREATEDTIME], [MBD_DISCOUNTINPERCENT], [MBD_DISCOUNTDESC], [MBD_IMGNAME], [MBD_DISCOUNTEDPRICE]) VALUES (3, 1, N'Group III, Group IV, VAO', N'arignar', 300, 1, 1, CAST(N'2022-02-12 17:22:58.637' AS DateTime), NULL, NULL, N'C3.jpg', NULL)
SET IDENTITY_INSERT [dbo].[IF_MASTER_BOOK_DESC] OFF
SET IDENTITY_INSERT [dbo].[IF_MASTER_BOOK_DESC_TRACK] ON 

INSERT [dbo].[IF_MASTER_BOOK_DESC_TRACK] ([MBD_ID], [MBD_BM_ID], [MBD_DESC], [MBD_TYPE], [MBD_PRICE], [MBD_STATUS], [MBD_NUMOFSTOCK], [MBD_CREATEDTIME], [MBD_DISCOUNTINPERCENT], [MBD_DISCOUNTDESC], [MBD_IMGNAME], [MBD_DISCOUNTEDPRICE]) VALUES (1, 1, N'Group III, Group IV, VAO', N'Grammer', 300, 1, 1, CAST(N'2022-02-12 17:22:58.637' AS DateTime), NULL, NULL, N'C1.jpg', NULL)
INSERT [dbo].[IF_MASTER_BOOK_DESC_TRACK] ([MBD_ID], [MBD_BM_ID], [MBD_DESC], [MBD_TYPE], [MBD_PRICE], [MBD_STATUS], [MBD_NUMOFSTOCK], [MBD_CREATEDTIME], [MBD_DISCOUNTINPERCENT], [MBD_DISCOUNTDESC], [MBD_IMGNAME], [MBD_DISCOUNTEDPRICE]) VALUES (2, 1, N'Group III, Group IV, VAO', N'Literature', 300, 1, 1, CAST(N'2022-02-12 17:22:58.637' AS DateTime), NULL, NULL, N'C2.jpg', NULL)
INSERT [dbo].[IF_MASTER_BOOK_DESC_TRACK] ([MBD_ID], [MBD_BM_ID], [MBD_DESC], [MBD_TYPE], [MBD_PRICE], [MBD_STATUS], [MBD_NUMOFSTOCK], [MBD_CREATEDTIME], [MBD_DISCOUNTINPERCENT], [MBD_DISCOUNTDESC], [MBD_IMGNAME], [MBD_DISCOUNTEDPRICE]) VALUES (3, 1, N'Group III, Group IV, VAO', N'arignar', 300, 1, 1, CAST(N'2022-02-12 17:22:58.637' AS DateTime), NULL, NULL, N'C3.jpg', NULL)
SET IDENTITY_INSERT [dbo].[IF_MASTER_BOOK_DESC_TRACK] OFF
SET IDENTITY_INSERT [dbo].[IF_MASTER_BOOKS] ON 

INSERT [dbo].[IF_MASTER_BOOKS] ([BM_ID], [BM_BOOKNAME], [BM_AUTHORNAME], [BM_PUBLISHERNAME], [BM_STATUS], [BM_CREATEDTIME]) VALUES (1, N'TNPSC', N'Vignesh', N'V2V Books', 1, NULL)
SET IDENTITY_INSERT [dbo].[IF_MASTER_BOOKS] OFF
SET IDENTITY_INSERT [dbo].[IF_MASTER_BOOKS_TRACK] ON 

INSERT [dbo].[IF_MASTER_BOOKS_TRACK] ([BM_ID], [BM_BOOKNAME], [BM_AUTHORNAME], [BM_PUBLISHERNAME], [BM_STATUS], [BM_CREATEDTIME]) VALUES (1, N'TNPSC', N'Vignesh', N'V2V Books', 1, NULL)
SET IDENTITY_INSERT [dbo].[IF_MASTER_BOOKS_TRACK] OFF
SET IDENTITY_INSERT [dbo].[IF_SEARCHHOMEOPTIONSDDL] ON 

INSERT [dbo].[IF_SEARCHHOMEOPTIONSDDL] ([SHO_ID], [SHO_NAME], [SHO_STATUS]) VALUES (1, N'All', 1)
INSERT [dbo].[IF_SEARCHHOMEOPTIONSDDL] ([SHO_ID], [SHO_NAME], [SHO_STATUS]) VALUES (2, N'Publishers', 1)
INSERT [dbo].[IF_SEARCHHOMEOPTIONSDDL] ([SHO_ID], [SHO_NAME], [SHO_STATUS]) VALUES (3, N'Authors', 1)
SET IDENTITY_INSERT [dbo].[IF_SEARCHHOMEOPTIONSDDL] OFF
SET IDENTITY_INSERT [dbo].[IF_SQLLOG] ON 

INSERT [dbo].[IF_SQLLOG] ([SQL_ID], [SQL_PROC_NAME], [SQL_ERROR_NUMBER], [SQL_ERROR_DESCRIPTION], [SQL_ERROR_LINE], [SQL_SEVERITY], [SQL_ERROR_STATE], [SQL_DATETIME], [SQL_USERID]) VALUES (1, N'USP_INSERT_CARTSUBMITION', 547, N'The INSERT statement conflicted with the FOREIGN KEY constraint "FK__IF_USERDE__UD_PR__6383C8BA". The conflict occurred in database "LibraryHub", table "dbo.IF_MASTER_BOOK_DESC", column ''MBD_ID''.', 11, 16, 0, CAST(N'2022-03-27 00:01:06.427' AS DateTime), 0)
SET IDENTITY_INSERT [dbo].[IF_SQLLOG] OFF
SET IDENTITY_INSERT [dbo].[IF_SQLLOG_TRACK] ON 

INSERT [dbo].[IF_SQLLOG_TRACK] ([SQL_ID], [SQL_PROC_NAME], [SQL_ERROR_NUMBER], [SQL_ERROR_DESCRIPTION], [SQL_ERROR_LINE], [SQL_SEVERITY], [SQL_ERROR_STATE], [SQL_DATETIME], [SQL_USERID]) VALUES (1, N'USP_INSERT_CARTSUBMITION', 547, N'The INSERT statement conflicted with the FOREIGN KEY constraint "FK__IF_USERDE__UD_PR__6383C8BA". The conflict occurred in database "LibraryHub", table "dbo.IF_MASTER_BOOK_DESC", column ''MBD_ID''.', 11, 16, 0, CAST(N'2022-03-27 00:01:06.427' AS DateTime), 0)
SET IDENTITY_INSERT [dbo].[IF_SQLLOG_TRACK] OFF
SET IDENTITY_INSERT [dbo].[IF_USERADDRESSDETAILS] ON 

INSERT [dbo].[IF_USERADDRESSDETAILS] ([UAD_ID], [UAD_UD_ID], [UAD_ADDRESSLINE1], [UAD_ADDRESSLINE2], [UAD_CITY], [UAD_DISTRICT], [UAD_PINCODE], [UAD_COUNTRY], [UAD_STATE]) VALUES (1, NULL, N'1/47 Amman Kovil Street', N'Pudupattu Village', N'Kanchipuram', N'Kanchipuram', N'602108', N'India', N'Tamilnadu')
INSERT [dbo].[IF_USERADDRESSDETAILS] ([UAD_ID], [UAD_UD_ID], [UAD_ADDRESSLINE1], [UAD_ADDRESSLINE2], [UAD_CITY], [UAD_DISTRICT], [UAD_PINCODE], [UAD_COUNTRY], [UAD_STATE]) VALUES (2, NULL, N'porur', N'', N'chennai', N'thiruvallur', N'600116', N'India', N'tamilnadu')
INSERT [dbo].[IF_USERADDRESSDETAILS] ([UAD_ID], [UAD_UD_ID], [UAD_ADDRESSLINE1], [UAD_ADDRESSLINE2], [UAD_CITY], [UAD_DISTRICT], [UAD_PINCODE], [UAD_COUNTRY], [UAD_STATE]) VALUES (3, 3, N'porur', N'', N'chennai', N'thiruvallur', N'602108', N'India', N'tamilnadu')
SET IDENTITY_INSERT [dbo].[IF_USERADDRESSDETAILS] OFF
SET IDENTITY_INSERT [dbo].[IF_USERADDRESSDETAILS_TRACK] ON 

INSERT [dbo].[IF_USERADDRESSDETAILS_TRACK] ([UAD_ID], [UAD_UD_ID], [UAD_ADDRESSLINE1], [UAD_ADDRESSLINE2], [UAD_CITY], [UAD_DISTRICT], [UAD_PINCODE], [UAD_COUNTRY], [UAD_STATE]) VALUES (1, NULL, N'1/47 Amman Kovil Street', N'Pudupattu Village', N'Kanchipuram', N'Kanchipuram', N'602108', N'India', N'Tamilnadu')
INSERT [dbo].[IF_USERADDRESSDETAILS_TRACK] ([UAD_ID], [UAD_UD_ID], [UAD_ADDRESSLINE1], [UAD_ADDRESSLINE2], [UAD_CITY], [UAD_DISTRICT], [UAD_PINCODE], [UAD_COUNTRY], [UAD_STATE]) VALUES (2, NULL, N'porur', N'', N'chennai', N'thiruvallur', N'600116', N'India', N'tamilnadu')
INSERT [dbo].[IF_USERADDRESSDETAILS_TRACK] ([UAD_ID], [UAD_UD_ID], [UAD_ADDRESSLINE1], [UAD_ADDRESSLINE2], [UAD_CITY], [UAD_DISTRICT], [UAD_PINCODE], [UAD_COUNTRY], [UAD_STATE]) VALUES (3, 3, N'porur', N'', N'chennai', N'thiruvallur', N'602108', N'India', N'tamilnadu')
SET IDENTITY_INSERT [dbo].[IF_USERADDRESSDETAILS_TRACK] OFF
SET IDENTITY_INSERT [dbo].[IF_USERDETAILS] ON 

INSERT [dbo].[IF_USERDETAILS] ([UD_ID], [UD_CUSTOMERFIRSTNAME], [UD_CUSTOMERMIDDLENAME], [UD_CUSTOMERLASTNAME], [UD_CUSTOMERFULLNAME], [UD_MOBILENUMBER], [UD_EMAILID], [UD_QUANTITY], [UD_EMAILSENTSTATUS], [UD_PREFEREDBOOK], [UD_WHATSAPPRECIEVEDSTATUS], [UD_EMAILOTPSENT], [UD_MOBILEOTPSENT], [UD_EMAILOTPVALID], [UD_MOBILEOTPVALID], [UD_SMSSENTSTATUS], [UD_CREATEDDATE], [UD_OTPSENTTIME], [UD_ALTER_MOBILENUMBER]) VALUES (1, N'Prem', N'Kumar', N'B', N'PremKumarB', N'8428180357', N'premkarthi2305@gmail.com', 2, 0, 1, 0, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[IF_USERDETAILS] ([UD_ID], [UD_CUSTOMERFIRSTNAME], [UD_CUSTOMERMIDDLENAME], [UD_CUSTOMERLASTNAME], [UD_CUSTOMERFULLNAME], [UD_MOBILENUMBER], [UD_EMAILID], [UD_QUANTITY], [UD_EMAILSENTSTATUS], [UD_PREFEREDBOOK], [UD_WHATSAPPRECIEVEDSTATUS], [UD_EMAILOTPSENT], [UD_MOBILEOTPSENT], [UD_EMAILOTPVALID], [UD_MOBILEOTPVALID], [UD_SMSSENTSTATUS], [UD_CREATEDDATE], [UD_OTPSENTTIME], [UD_ALTER_MOBILENUMBER]) VALUES (2, N'Karthi', N'ashwin', N'a', N'Karthi ashwin a', N'8768867876', N'jhgsdj@gmail.com', 2, 0, 1, 0, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[IF_USERDETAILS] ([UD_ID], [UD_CUSTOMERFIRSTNAME], [UD_CUSTOMERMIDDLENAME], [UD_CUSTOMERLASTNAME], [UD_CUSTOMERFULLNAME], [UD_MOBILENUMBER], [UD_EMAILID], [UD_QUANTITY], [UD_EMAILSENTSTATUS], [UD_PREFEREDBOOK], [UD_WHATSAPPRECIEVEDSTATUS], [UD_EMAILOTPSENT], [UD_MOBILEOTPSENT], [UD_EMAILOTPVALID], [UD_MOBILEOTPVALID], [UD_SMSSENTSTATUS], [UD_CREATEDDATE], [UD_OTPSENTTIME], [UD_ALTER_MOBILENUMBER]) VALUES (3, N'Prem', N'', N'b', N'Prem  b', N'8428180357', N'premkarthi2305@gmail.com', 1, 0, 2, 0, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[IF_USERDETAILS] OFF
SET IDENTITY_INSERT [dbo].[IF_USERDETAILS_TRACK] ON 

INSERT [dbo].[IF_USERDETAILS_TRACK] ([UD_ID], [UD_CUSTOMERFIRSTNAME], [UD_CUSTOMERMIDDLENAME], [UD_CUSTOMERLASTNAME], [UD_CUSTOMERFULLNAME], [UD_MOBILENUMBER], [UD_EMAILID], [UD_QUANTITY], [UD_EMAILSENTSTATUS], [UD_PREFEREDBOOK], [UD_WHATSAPPRECIEVEDSTATUS], [UD_EMAILOTPSENT], [UD_MOBILEOTPSENT], [UD_EMAILOTPVALID], [UD_MOBILEOTPVALID], [UD_SMSSENTSTATUS], [UD_CREATEDDATE], [UD_OTPSENTTIME], [UD_ALTER_MOBILENUMBER]) VALUES (1, N'Prem', N'Kumar', N'B', N'PremKumarB', N'8428180357', N'premkarthi2305@gmail.com', 2, 0, 1, 0, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[IF_USERDETAILS_TRACK] ([UD_ID], [UD_CUSTOMERFIRSTNAME], [UD_CUSTOMERMIDDLENAME], [UD_CUSTOMERLASTNAME], [UD_CUSTOMERFULLNAME], [UD_MOBILENUMBER], [UD_EMAILID], [UD_QUANTITY], [UD_EMAILSENTSTATUS], [UD_PREFEREDBOOK], [UD_WHATSAPPRECIEVEDSTATUS], [UD_EMAILOTPSENT], [UD_MOBILEOTPSENT], [UD_EMAILOTPVALID], [UD_MOBILEOTPVALID], [UD_SMSSENTSTATUS], [UD_CREATEDDATE], [UD_OTPSENTTIME], [UD_ALTER_MOBILENUMBER]) VALUES (2, N'Karthi', N'ashwin', N'a', N'Karthi ashwin a', N'8768867876', N'jhgsdj@gmail.com', 2, 0, 1, 0, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[IF_USERDETAILS_TRACK] ([UD_ID], [UD_CUSTOMERFIRSTNAME], [UD_CUSTOMERMIDDLENAME], [UD_CUSTOMERLASTNAME], [UD_CUSTOMERFULLNAME], [UD_MOBILENUMBER], [UD_EMAILID], [UD_QUANTITY], [UD_EMAILSENTSTATUS], [UD_PREFEREDBOOK], [UD_WHATSAPPRECIEVEDSTATUS], [UD_EMAILOTPSENT], [UD_MOBILEOTPSENT], [UD_EMAILOTPVALID], [UD_MOBILEOTPVALID], [UD_SMSSENTSTATUS], [UD_CREATEDDATE], [UD_OTPSENTTIME], [UD_ALTER_MOBILENUMBER]) VALUES (3, N'Prem', N'', N'b', N'Prem  b', N'8428180357', N'premkarthi2305@gmail.com', 1, 0, 2, 0, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[IF_USERDETAILS_TRACK] OFF
SET IDENTITY_INSERT [dbo].[IF_USERMASTER] ON 

INSERT [dbo].[IF_USERMASTER] ([UM_ID], [UM_USERNAME], [UM_PASSWORD], [UM_CREATEDTIME], [UM_EXPIRYDATE], [UM_INVALIDATTEMPT], [UM_ACTIVESTATUS]) VALUES (1, N'Admin', 0x61646D696E40313233, CAST(N'2022-01-15 19:47:13.323' AS DateTime), CAST(N'2022-04-15 19:47:13.323' AS DateTime), 0, 0)
INSERT [dbo].[IF_USERMASTER] ([UM_ID], [UM_USERNAME], [UM_PASSWORD], [UM_CREATEDTIME], [UM_EXPIRYDATE], [UM_INVALIDATTEMPT], [UM_ACTIVESTATUS]) VALUES (3, N'Prem', 0x5072656D403132, CAST(N'2022-01-15 20:09:42.857' AS DateTime), CAST(N'2022-04-15 20:09:42.857' AS DateTime), 0, 0)
SET IDENTITY_INSERT [dbo].[IF_USERMASTER] OFF
SET IDENTITY_INSERT [dbo].[IF_USERMASTER_TRACK] ON 

INSERT [dbo].[IF_USERMASTER_TRACK] ([UM_ID], [UM_USERNAME], [UM_PASSWORD], [UM_CREATEDTIME], [UM_EXPIRYDATE], [UM_INVALIDATTEMPT], [UM_ACTIVESTATUS]) VALUES (1, N'Admin', 0x61646D696E40313233, CAST(N'2022-01-15 19:47:13.323' AS DateTime), CAST(N'2022-04-15 19:47:13.323' AS DateTime), 0, 0)
INSERT [dbo].[IF_USERMASTER_TRACK] ([UM_ID], [UM_USERNAME], [UM_PASSWORD], [UM_CREATEDTIME], [UM_EXPIRYDATE], [UM_INVALIDATTEMPT], [UM_ACTIVESTATUS]) VALUES (3, N'Prem', 0x5072656D403132, CAST(N'2022-01-15 20:09:42.857' AS DateTime), CAST(N'2022-04-15 20:09:42.857' AS DateTime), 0, 0)
SET IDENTITY_INSERT [dbo].[IF_USERMASTER_TRACK] OFF
ALTER TABLE [dbo].[IF_MASTER_BOOK_DESC]  WITH CHECK ADD FOREIGN KEY([MBD_BM_ID])
REFERENCES [dbo].[IF_MASTER_BOOKS] ([BM_ID])
GO
ALTER TABLE [dbo].[IF_USERADDRESSDETAILS]  WITH CHECK ADD FOREIGN KEY([UAD_UD_ID])
REFERENCES [dbo].[IF_USERDETAILS] ([UD_ID])
GO
ALTER TABLE [dbo].[IF_USERDETAILS]  WITH CHECK ADD FOREIGN KEY([UD_PREFEREDBOOK])
REFERENCES [dbo].[IF_MASTER_BOOK_DESC] ([MBD_ID])
GO
/****** Object:  StoredProcedure [dbo].[USP_FLUSH_MAINTABLES]    Script Date: 7/3/2022 8:54:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_FLUSH_MAINTABLES]
AS
BEGIN
	SET NOCOUNT ON;
	BEGIN TRANSACTION;
	BEGIN TRY
		
		COMMIT;
		SELECT '1';
	END TRY
	BEGIN CATCH
		ROLLBACK;
		INSERT INTO IF_SQLLOG(SQL_PROC_NAME, SQL_ERROR_NUMBER, SQL_ERROR_DESCRIPTION, SQL_ERROR_LINE, SQL_SEVERITY, SQL_ERROR_STATE, SQL_DATETIME, SQL_USERID)
		VALUES(ERROR_PROCEDURE(), ERROR_NUMBER(), ERROR_MESSAGE(), ERROR_LINE(), ERROR_SEVERITY(), ERROR_STATE(), GETDATE(), 0)
		SELECT '0';
	END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[USP_GET_BOOKNAMESFORDDL]    Script Date: 7/3/2022 8:54:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_GET_BOOKNAMESFORDDL]
AS
BEGIN
	BEGIN TRY
		SELECT BM_ID 'Book ID', BM_BOOKNAME 'Book Names' FROM IF_MASTER_BOOKS;
	END TRY
	BEGIN CATCH
		INSERT INTO IF_SQLLOG(SQL_PROC_NAME, SQL_ERROR_NUMBER, SQL_ERROR_DESCRIPTION, SQL_ERROR_LINE, SQL_SEVERITY, SQL_ERROR_STATE, SQL_DATETIME, SQL_USERID)
		VALUES(ERROR_PROCEDURE(), ERROR_NUMBER(), ERROR_MESSAGE(), ERROR_LINE(), ERROR_SEVERITY(), ERROR_STATE(), GETDATE(), 0);
		SELECT '0';
	END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[USP_GET_DESCRIPTIONRECORDS]    Script Date: 7/3/2022 8:54:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--EXEC USP_GET_DESCRIPTIONRECORDS 1
CREATE PROC [dbo].[USP_GET_DESCRIPTIONRECORDS]
@MBDID BIGINT
AS
BEGIN
	BEGIN TRY
		SELECT TOP(1)
			BM_BOOKNAME, BM_AUTHORNAME, BM_PUBLISHERNAME, MBD_DESC, MBD_TYPE, MBD_PRICE, MBD_IMGNAME, 
			MBD_NUMOFSTOCK, MBD_CREATEDTIME, ISNULL(MBD_DISCOUNTINPERCENT, 0) AS 'MBD_DISCOUNTINPERCENT', ISNULL(MBD_DISCOUNTDESC, '') AS 'MBD_DISCOUNTDESC',
			ISNULL(MBD_DISCOUNTEDPRICE, 0) AS 'MBD_DISCOUNTEDPRICE'
		FROM 
			IF_MASTER_BOOKS 
			JOIN IF_MASTER_BOOK_DESC ON BM_ID = MBD_BM_ID 
		WHERE 
			BM_STATUS = 1 AND MBD_STATUS = 1 AND MBD_ID = @MBDID;
	END TRY
	BEGIN CATCH
		INSERT INTO IF_SQLLOG(SQL_PROC_NAME, SQL_ERROR_NUMBER, SQL_ERROR_DESCRIPTION, SQL_ERROR_LINE, SQL_SEVERITY, SQL_ERROR_STATE, SQL_DATETIME, SQL_USERID)
		VALUES(ERROR_PROCEDURE(), ERROR_NUMBER(), ERROR_MESSAGE(), ERROR_LINE(), ERROR_SEVERITY(), ERROR_STATE(), GETDATE(), 0)

		SELECT 0;
	END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[USP_GET_DETAILBOOKS]    Script Date: 7/3/2022 8:54:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--EXEC [USP_GET_DETAILBOOKS] 'All', 'TNPSC'
CREATE PROC [dbo].[USP_GET_DETAILBOOKS]
--@DDLSelectName VARCHAR(100), @NAME VARCHAR(100)
AS
BEGIN
	SET NOCOUNT ON;
	BEGIN TRY
		
		SELECT MBD_ID, BM_BOOKNAME, BM_AUTHORNAME, BM_PUBLISHERNAME, MBD_DESC, MBD_TYPE, MBD_PRICE, MBD_IMGNAME, MBD_NUMOFSTOCK, MBD_CREATEDTIME, MBD_DISCOUNTINPERCENT, MBD_DISCOUNTDESC 
		FROM IF_MASTER_BOOKS JOIN IF_MASTER_BOOK_DESC ON BM_ID = MBD_BM_ID WHERE BM_STATUS = 1 AND MBD_STATUS = 1

		--IF(@DDLSelectName = 'All')
		--BEGIN
		--	SELECT MBD_ID, BM_BOOKNAME, BM_AUTHORNAME, BM_PUBLISHERNAME, MBD_DESC, MBD_TYPE, MBD_PRICE, MBD_IMGNAME, MBD_NUMOFSTOCK, MBD_CREATEDTIME, MBD_DISCOUNTINPERCENT, MBD_DISCOUNTDESC 
		--	FROM IF_MASTER_BOOKS JOIN IF_MASTER_BOOK_DESC ON BM_ID = MBD_BM_ID WHERE BM_STATUS = 1 AND MBD_STATUS = 1 AND BM_BOOKNAME = @NAME;
		--END
		--ELSE IF(@DDLSelectName = 'Publishers')
		--BEGIN
		--	SELECT MBD_ID, BM_BOOKNAME, BM_AUTHORNAME, BM_PUBLISHERNAME, MBD_DESC, MBD_TYPE, MBD_PRICE, MBD_IMGNAME, MBD_NUMOFSTOCK, MBD_CREATEDTIME, MBD_DISCOUNTINPERCENT, MBD_DISCOUNTDESC 
		--	FROM IF_MASTER_BOOKS JOIN IF_MASTER_BOOK_DESC ON BM_ID = MBD_BM_ID WHERE BM_STATUS = 1 AND MBD_STATUS = 1 AND BM_PUBLISHERNAME = @NAME;
		--END
		--ELSE IF(@DDLSelectName = 'Authors')
		--BEGIN
		--	SELECT MBD_ID, BM_BOOKNAME, BM_AUTHORNAME, BM_PUBLISHERNAME, MBD_DESC, MBD_TYPE, MBD_PRICE, MBD_IMGNAME, MBD_NUMOFSTOCK, MBD_CREATEDTIME, MBD_DISCOUNTINPERCENT, MBD_DISCOUNTDESC 
		--	FROM IF_MASTER_BOOKS JOIN IF_MASTER_BOOK_DESC ON BM_ID = MBD_BM_ID WHERE BM_STATUS = 1 AND MBD_STATUS = 1 AND BM_AUTHORNAME = @NAME;
		--END

	END TRY
	BEGIN CATCH
		INSERT INTO IF_SQLLOG(SQL_PROC_NAME, SQL_ERROR_NUMBER, SQL_ERROR_DESCRIPTION, SQL_ERROR_LINE, SQL_SEVERITY, SQL_ERROR_STATE, SQL_DATETIME, SQL_USERID)
		VALUES(ERROR_PROCEDURE(), ERROR_NUMBER(), ERROR_MESSAGE(), ERROR_LINE(), ERROR_SEVERITY(), ERROR_STATE(), GETDATE(), 0)

		SELECT 0;
	END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[USP_GET_MIN]    Script Date: 7/3/2022 8:54:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_GET_MIN] @USERINSERTID BIGINT
AS
BEGIN
	BEGIN TRY
		DECLARE @GETDATETIME DATETIME;
		DECLARE @NUM INT;

		SET @GETDATETIME = (SELECT UD_OTPSENTTIME FROM IF_USERDETAILS WHERE UD_ID = @USERINSERTID);
		SET @NUM = (SELECT DBO.FUN_CHECK_OMIN(@GETDATETIME));

		IF(@NUM > 2)
		BEGIN
			SELECT '-1'
			RETURN;
		END

		IF(@NUM <= 2)
		BEGIN
			SELECT '1'
		END

	END TRY
	BEGIN CATCH
		INSERT INTO IF_SQLLOG(SQL_PROC_NAME, SQL_ERROR_NUMBER, SQL_ERROR_DESCRIPTION, SQL_ERROR_LINE, SQL_SEVERITY, SQL_ERROR_STATE, SQL_DATETIME, SQL_USERID)
		VALUES(ERROR_PROCEDURE(), ERROR_NUMBER(), ERROR_MESSAGE(), ERROR_LINE(), ERROR_SEVERITY(), ERROR_STATE(), GETDATE(), 0)
		SELECT '0';
	END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[USP_GET_SEARCHDDLHOME]    Script Date: 7/3/2022 8:54:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--EXEC [USP_GET_SEARCHDDLHOME]
CREATE PROC [dbo].[USP_GET_SEARCHDDLHOME]
AS
BEGIN
	SET NOCOUNT ON;
	BEGIN TRY
		SELECT SHO_ID, SHO_NAME FROM IF_SEARCHHOMEOPTIONSDDL WHERE SHO_STATUS = 1
	END TRY
	BEGIN CATCH
		INSERT INTO IF_SQLLOG(SQL_PROC_NAME, SQL_ERROR_NUMBER, SQL_ERROR_DESCRIPTION, SQL_ERROR_LINE, SQL_SEVERITY, SQL_ERROR_STATE, SQL_DATETIME, SQL_USERID)
		VALUES(ERROR_PROCEDURE(), ERROR_NUMBER(), ERROR_MESSAGE(), ERROR_LINE(), ERROR_SEVERITY(), ERROR_STATE(), GETDATE(), 0)
	END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[USP_GET_USERADDRESS]    Script Date: 7/3/2022 8:54:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--EXEC [USP_GET_USERADDRESS] '2'
CREATE PROC [dbo].[USP_GET_USERADDRESS]
@USERINSERTID BIGINT
AS
BEGIN
	DECLARE @USERFULLNAME VARCHAR(100), @USERMDLNAME VARCHAR(50), @SUMMARY VARCHAR(150);
	BEGIN TRY

		SET @USERMDLNAME = (SELECT UD_CUSTOMERMIDDLENAME FROM IF_USERDETAILS WHERE UD_ID = @USERINSERTID);

		IF(ISNULL(@USERMDLNAME, '') = '')
		BEGIN
			SET @USERFULLNAME = (SELECT (UD_CUSTOMERFIRSTNAME + ' ' + UD_CUSTOMERLASTNAME) FROM IF_USERDETAILS WHERE UD_ID = @USERINSERTID);
		END
		ELSE
		BEGIN
			SET @USERFULLNAME = (SELECT (UD_CUSTOMERFIRSTNAME + ' ' + UD_CUSTOMERMIDDLENAME + ' ' + UD_CUSTOMERLASTNAME) FROM IF_USERDETAILS WHERE UD_ID = @USERINSERTID);
		END

		SET @SUMMARY = 'Hi, I am Youre V2V Bot. I ve got youre request, Our Service will Call you!!';

		SELECT TOP(1) @USERFULLNAME AS 'UserName', UD_EMAILID AS 'MailIDToAddress', @SUMMARY AS 'Summary' FROM IF_USERDETAILS WHERE UD_ID = @USERINSERTID;

	END TRY
	BEGIN CATCH
		INSERT INTO IF_SQLLOG(SQL_PROC_NAME, SQL_ERROR_NUMBER, SQL_ERROR_DESCRIPTION, SQL_ERROR_LINE, SQL_SEVERITY, SQL_ERROR_STATE, SQL_DATETIME, SQL_USERID)
		VALUES(ERROR_PROCEDURE(), ERROR_NUMBER(), ERROR_MESSAGE(), ERROR_LINE(), ERROR_SEVERITY(), ERROR_STATE(), GETDATE(), 0)
		SELECT '0';
	END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[USP_GETINISETTING]    Script Date: 7/3/2022 8:54:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--EXEC [USP_GETINISETTING]
CREATE PROC [dbo].[USP_GETINISETTING]
AS
BEGIN
	BEGIN TRY
		SELECT INI_VALUE, INI_DESCRIPTION, INI_ISENCRYPT FROM IF_INISETTING;
	END TRY
	BEGIN CATCH
		INSERT INTO IF_SQLLOG(SQL_PROC_NAME, SQL_ERROR_NUMBER, SQL_ERROR_DESCRIPTION, SQL_ERROR_LINE, SQL_SEVERITY, SQL_ERROR_STATE, SQL_DATETIME, SQL_USERID)
		VALUES(ERROR_PROCEDURE(), ERROR_NUMBER(), ERROR_MESSAGE(), ERROR_LINE(), ERROR_SEVERITY(), ERROR_STATE(), GETDATE(), 0);
		SELECT '0';
	END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[USP_INSERT_BOOKADDING]    Script Date: 7/3/2022 8:54:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_INSERT_BOOKADDING]
@BM_BOOKNAME VARCHAR(50), @BM_AUTHORNAME VARCHAR(50), @BM_PUBLISHERNAME VARCHAR(50), @BM_STATUS INT, @MBD_DESC VARCHAR(150), @MBD_TYPE VARCHAR(100), @MBD_PRICE INT,
@MBD_STATUS INT, @MBD_NUMOFSTOCK INT, @MBD_DISCOUNTDESC VARCHAR(150), @MBD_IMGNAME VARCHAR(50), @MBD_DISCOUNTEDPRICE INT
AS
BEGIN
	SET NOCOUNT ON;
	BEGIN TRANSACTION;
	BEGIN TRY
		DECLARE @MBDBMID BIGINT;

		INSERT INTO 
			IF_MASTER_BOOKS(BM_BOOKNAME, BM_AUTHORNAME, BM_PUBLISHERNAME, BM_STATUS, BM_CREATEDTIME)
		VALUES
			(@BM_BOOKNAME, @BM_AUTHORNAME, @BM_PUBLISHERNAME, @BM_STATUS, GETDATE());

		SET @MBDBMID = (SELECT MAX(BM_ID) FROM IF_MASTER_BOOKS);

		INSERT INTO 
			IF_MASTER_BOOK_DESC(MBD_BM_ID, MBD_DESC, MBD_TYPE, MBD_PRICE, MBD_STATUS, MBD_NUMOFSTOCK, MBD_CREATEDTIME, MBD_DISCOUNTDESC, MBD_IMGNAME, MBD_DISCOUNTEDPRICE)
		VALUES
			(@MBDBMID, @MBD_DESC, @MBD_TYPE, @MBD_PRICE, @MBD_STATUS, @MBD_NUMOFSTOCK, GETDATE(), @MBD_DISCOUNTDESC, @MBD_IMGNAME, @MBD_DISCOUNTEDPRICE);

		COMMIT;

		SELECT '1';
		SELECT @MBDBMID;
	END TRY
	BEGIN CATCH
		ROLLBACK;
		INSERT INTO IF_SQLLOG(SQL_PROC_NAME, SQL_ERROR_NUMBER, SQL_ERROR_DESCRIPTION, SQL_ERROR_LINE, SQL_SEVERITY, SQL_ERROR_STATE, SQL_DATETIME, SQL_USERID)
		VALUES(ERROR_PROCEDURE(), ERROR_NUMBER(), ERROR_MESSAGE(), ERROR_LINE(), ERROR_SEVERITY(), ERROR_STATE(), GETDATE(), 0)
		SELECT '0';
		SELECT '0';
	END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[USP_INSERT_CARTSUBMITION]    Script Date: 7/3/2022 8:54:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_INSERT_CARTSUBMITION]
@CUST_FIRSTNAME VARCHAR(50), @CUST_MIDDLENAME VARCHAR(50), @CUST_LASTNAME VARCHAR(50), @MOBILE_NO VARCHAR(20), @UD_EMAILID VARCHAR(50), @ALTERMOBILE_NO VARCHAR(20),
@BOOKID BIGINT, @QUAN INT, @ADD_LINE1 VARCHAR(150), @ADD_LINE2 VARCHAR(150), @CITY VARCHAR(50), @DISTRICT VARCHAR(50), @PINCODE VARCHAR(10), @COUNTRY VARCHAR(50), @STATE VARCHAR(50)
AS
BEGIN
	BEGIN TRANSACTION;
	BEGIN TRY
		SET NOCOUNT ON;
		DECLARE @UADUDID BIGINT;

		INSERT INTO IF_USERDETAILS(
			UD_CUSTOMERFIRSTNAME, UD_CUSTOMERMIDDLENAME, UD_CUSTOMERLASTNAME, UD_CUSTOMERFULLNAME, UD_MOBILENUMBER, UD_ALTER_MOBILENUMBER, UD_EMAILID, UD_PREFEREDBOOK, UD_QUANTITY, UD_CREATEDDATE)
		VALUES(
			@CUST_FIRSTNAME, @CUST_MIDDLENAME, @CUST_LASTNAME, (@CUST_FIRSTNAME + ' ' + @CUST_MIDDLENAME + ' ' + @CUST_LASTNAME), @MOBILE_NO, @ALTERMOBILE_NO, @UD_EMAILID, @BOOKID, @QUAN, GETDATE())

		SET @UADUDID = (SELECT MAX(UD_ID) FROM IF_USERDETAILS);

		IF EXISTS(SELECT 1 FROM IF_USERDETAILS WHERE UD_CUSTOMERFIRSTNAME = @CUST_FIRSTNAME AND @MOBILE_NO = @MOBILE_NO AND UD_EMAILID = @UD_EMAILID AND UD_ID = @UADUDID)
		BEGIN
			INSERT INTO IF_USERADDRESSDETAILS(
				UAD_ADDRESSLINE1, UAD_ADDRESSLINE2, UAD_CITY, UAD_DISTRICT, UAD_PINCODE, UAD_COUNTRY, UAD_STATE, UAD_UD_ID)
			VALUES(
				@ADD_LINE1, @ADD_LINE2, @CITY, @DISTRICT, @PINCODE, @COUNTRY, @STATE, @UADUDID)
		END
		ELSE
		BEGIN
			SELECT '-1';
			SELECT '-1';
			RETURN;
		END

		COMMIT;
		SELECT '1';
		SELECT @UADUDID;
	END TRY
	BEGIN CATCH
		ROLLBACK;
		INSERT INTO IF_SQLLOG(SQL_PROC_NAME, SQL_ERROR_NUMBER, SQL_ERROR_DESCRIPTION, SQL_ERROR_LINE, SQL_SEVERITY, SQL_ERROR_STATE, SQL_DATETIME, SQL_USERID)
		VALUES(ERROR_PROCEDURE(), ERROR_NUMBER(), ERROR_MESSAGE(), ERROR_LINE(), ERROR_SEVERITY(), ERROR_STATE(), GETDATE(), 0)
		SELECT '0';
		SELECT '0';
	END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[USP_INSERT_INISETTING]    Script Date: 7/3/2022 8:54:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_INSERT_INISETTING]
@DESCRIPTION VARCHAR(100), @VALUE VARCHAR(150), @ISENCRYPT INT
AS
BEGIN
	SET NOCOUNT ON;
	BEGIN TRANSACTION;

	BEGIN TRY
		
		INSERT INTO 
			IF_INISETTING(INI_DESCRIPTION, INI_VALUE, INI_ISENCRYPT, INI_CREATEDDATE)
		VALUES
			(@DESCRIPTION, @VALUE, @ISENCRYPT, GETDATE());

		COMMIT;
		SELECT '1';
	END TRY
	BEGIN CATCH
		ROLLBACK;
		INSERT INTO IF_SQLLOG(SQL_PROC_NAME, SQL_ERROR_NUMBER, SQL_ERROR_DESCRIPTION, SQL_ERROR_LINE, SQL_SEVERITY, SQL_ERROR_STATE, SQL_DATETIME, SQL_USERID)
		VALUES(ERROR_PROCEDURE(), ERROR_NUMBER(), ERROR_MESSAGE(), ERROR_LINE(), ERROR_SEVERITY(), ERROR_STATE(), GETDATE(), 0)
		SELECT '0';
	END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[USP_INSERT_USERCREDENTIALS]    Script Date: 7/3/2022 8:54:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--EXEC [USP_INSERT_USERCREDENTIALS] '', ''
CREATE PROC [dbo].[USP_INSERT_USERCREDENTIALS]
@USERNAME VARCHAR(50), @PASSWORD VARCHAR(100)
AS
BEGIN
	SET NOCOUNT ON;
	BEGIN TRANSACTION
	BEGIN TRY
		IF(@USERNAME != '')	
		BEGIN
			IF(@PASSWORD != '')
			BEGIN
				INSERT INTO IF_USERMASTER(UM_USERNAME, UM_PASSWORD, UM_CREATEDTIME, UM_EXPIRYDATE)
				VALUES(@USERNAME, CONVERT(VARBINARY(200), @PASSWORD), GETDATE(),  DATEADD(Month, 3, GETDATE()))
			END
		END
		COMMIT;
	END TRY
	BEGIN CATCH
		ROLLBACK;
		INSERT INTO IF_SQLLOG(SQL_PROC_NAME, SQL_ERROR_NUMBER, SQL_ERROR_DESCRIPTION, SQL_ERROR_LINE, SQL_SEVERITY, SQL_ERROR_STATE, SQL_DATETIME, SQL_USERID)
		VALUES(ERROR_PROCEDURE(), ERROR_NUMBER(), ERROR_MESSAGE(), ERROR_LINE(), ERROR_SEVERITY(), ERROR_STATE(), GETDATE(), 0)
	END CATCH
END


GO
/****** Object:  StoredProcedure [dbo].[USP_UPDATE_ISOVALIDSTATUS]    Script Date: 7/3/2022 8:54:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_UPDATE_ISOVALIDSTATUS] @ISOVALID INT, @USERINSERTID BIGINT
AS
BEGIN
	SET NOCOUNT ON;
	BEGIN TRANSACTION;
	BEGIN TRY
		
		UPDATE IF_USERDETAILS SET UD_EMAILOTPVALID = @ISOVALID WHERE UD_ID = @USERINSERTID;

		COMMIT;
		SELECT '1';
	END TRY
	BEGIN CATCH
		ROLLBACK;
		INSERT INTO IF_SQLLOG(SQL_PROC_NAME, SQL_ERROR_NUMBER, SQL_ERROR_DESCRIPTION, SQL_ERROR_LINE, SQL_SEVERITY, SQL_ERROR_STATE, SQL_DATETIME, SQL_USERID)
		VALUES(ERROR_PROCEDURE(), ERROR_NUMBER(), ERROR_MESSAGE(), ERROR_LINE(), ERROR_SEVERITY(), ERROR_STATE(), GETDATE(), 0)
		SELECT '0';
	END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[USP_UPDATE_MSGRECEIVEDSTATUS]    Script Date: 7/3/2022 8:54:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_UPDATE_MSGRECEIVEDSTATUS]
@STATUS INT, @MSGHROUGH VARCHAR(15), @USERINSERTID BIGINT
AS
BEGIN
	SET NOCOUNT ON;
	BEGIN TRANSACTION;
	BEGIN TRY

		IF(@MSGHROUGH = 'WHATSAPP')
		BEGIN
			UPDATE IF_USERDETAILS SET UD_WHATSAPPRECIEVEDSTATUS = @STATUS WHERE UD_ID = @USERINSERTID;
		END
		ELSE IF(@MSGHROUGH = 'MAIL')
		BEGIN
			UPDATE IF_USERDETAILS SET UD_EMAILSENTSTATUS = @STATUS WHERE UD_ID = @USERINSERTID;
		END
				
		COMMIT;
		SELECT '1';
	END TRY
	BEGIN CATCH
		ROLLBACK;
		INSERT INTO IF_SQLLOG(SQL_PROC_NAME, SQL_ERROR_NUMBER, SQL_ERROR_DESCRIPTION, SQL_ERROR_LINE, SQL_SEVERITY, SQL_ERROR_STATE, SQL_DATETIME, SQL_USERID)
		VALUES(ERROR_PROCEDURE(), ERROR_NUMBER(), ERROR_MESSAGE(), ERROR_LINE(), ERROR_SEVERITY(), ERROR_STATE(), GETDATE(), 0)
		SELECT '0';
	END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[USP_UPDATE_OSENTSTATUS]    Script Date: 7/3/2022 8:54:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_UPDATE_OSENTSTATUS] @STATUS INT, @SENTTHROUGH VARCHAR(15), @USERINSERTID BIGINT
AS
BEGIN
	SET NOCOUNT ON;
	BEGIN TRANSACTION;
	BEGIN TRY

		IF(@SENTTHROUGH = 'MAIL')
		BEGIN
			UPDATE IF_USERDETAILS SET UD_EMAILOTPSENT = @STATUS, UD_OTPSENTTIME = GETDATE() WHERE UD_ID = @USERINSERTID;
		END
		ELSE IF(@SENTTHROUGH = 'MOBILE')
		BEGIN
			UPDATE IF_USERDETAILS SET UD_MOBILEOTPSENT = @STATUS, UD_OTPSENTTIME = GETDATE() WHERE UD_ID = @USERINSERTID;
		END
				
		COMMIT;
		SELECT '1';
	END TRY
	BEGIN CATCH
		ROLLBACK;
		INSERT INTO IF_SQLLOG(SQL_PROC_NAME, SQL_ERROR_NUMBER, SQL_ERROR_DESCRIPTION, SQL_ERROR_LINE, SQL_SEVERITY, SQL_ERROR_STATE, SQL_DATETIME, SQL_USERID)
		VALUES(ERROR_PROCEDURE(), ERROR_NUMBER(), ERROR_MESSAGE(), ERROR_LINE(), ERROR_SEVERITY(), ERROR_STATE(), GETDATE(), 0)
		SELECT '0';
	END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[USP_VALIDATE_BOOKADDINGTEXTBOXES]    Script Date: 7/3/2022 8:54:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_VALIDATE_BOOKADDINGTEXTBOXES]
@BM_BOOKNAME VARCHAR(50), @BM_AUTHORNAME VARCHAR(50), @BM_PUBLISHERNAME VARCHAR(50), @BM_STATUS INT, @MBD_DESC VARCHAR(150), @MBD_TYPE VARCHAR(100), @MBD_PRICE INT,
@MBD_STATUS INT, @MBD_NUMOFSTOCK INT, @MBD_DISCOUNTDESC VARCHAR(150), @MBD_DISCOUNTEDPRICE INT, @MBD_IMGNAME VARCHAR(50)
AS
BEGIN
	BEGIN TRY

		IF(@BM_BOOKNAME = '')
		BEGIN
			SELECT 'Name of Book Field is Empty';
			RETURN;
		END

		IF(@BM_BOOKNAME LIKE '%[^A-Za-z0-9 /-]%')
		BEGIN
			SELECT 'Invalid value in Name of Book Field';
			RETURN;
		END

		IF(@BM_BOOKNAME LIKE '%  %')
		BEGIN
			SELECT 'Words between Double Space Detected in Name of Book Field!!';
			RETURN;
		END

		IF(@BM_AUTHORNAME != '')
		BEGIN
			IF(@BM_AUTHORNAME LIKE '%[^A-Za-z]%')
			BEGIN
				SELECT 'Invalid value in Author Name Field';
				RETURN;
			END

			IF(@BM_AUTHORNAME LIKE '%  %')
			BEGIN
				SELECT 'Words between Double Space Detected in Author Name Field!!';
				RETURN;
			END
		END

		IF(@BM_PUBLISHERNAME != '')
		BEGIN
			IF(@BM_PUBLISHERNAME LIKE '%[^A-Za-z]%')
			BEGIN
				SELECT 'Invalid value in Publisher Name Field';
				RETURN;
			END

			IF(@BM_PUBLISHERNAME LIKE '%  %')
			BEGIN
				SELECT 'Words between Double Space Detected in Publisher Name Field!!';
				RETURN;
			END
		END

		IF(@MBD_DESC = '')
		BEGIN
			SELECT 'Description for Book Field is Empty';
			RETURN;
		END

		IF(@MBD_DESC LIKE '%[^A-Za-z0-9 /-.,]%')
		BEGIN
			SELECT 'Invalid value in Book Description Field';
			RETURN;
		END

		IF(@MBD_DESC LIKE '%  %')
		BEGIN
			SELECT 'Words between Double Space Detected in Book Description Field!!';
			RETURN;
		END

		IF(@MBD_TYPE = '')
		BEGIN
			SELECT 'Type of Book Field is Empty';
			RETURN;
		END

		IF(@MBD_TYPE LIKE '%[^A-Za-z /-.,]%')
		BEGIN
			SELECT 'Invalid value in Type of Book Field';
			RETURN;
		END

		IF(@MBD_TYPE LIKE '%  %')
		BEGIN
			SELECT 'Words between Double Space Detected in Type of Book Field!!';
			RETURN;
		END

		IF(@MBD_PRICE = '')
		BEGIN
			SELECT 'Price Field is Empty';
			RETURN;
		END

		IF(@MBD_PRICE LIKE '%[^0-9]%')
		BEGIN
			SELECT 'Invalid value in Price Field';
			RETURN;
		END

		IF(@MBD_PRICE LIKE '% %')
		BEGIN
			SELECT 'Space Detected in Price Field!!';
			RETURN;
		END

		IF(@MBD_PRICE = '0')
		BEGIN
			SELECT 'Price Should be more than 0';
			RETURN;
		END

		IF(@MBD_NUMOFSTOCK = '')
		BEGIN
			SELECT 'No. of Stock Field is Empty';
			RETURN;
		END

		IF(@MBD_NUMOFSTOCK LIKE '%[^0-9]%')
		BEGIN
			SELECT 'Invalid value in No. of Stock Field';
			RETURN;
		END

		IF(@MBD_NUMOFSTOCK LIKE '% %')
		BEGIN
			SELECT 'Space Detected in No. of Stock Field!!';
			RETURN;
		END

		IF(@MBD_NUMOFSTOCK = '0')
		BEGIN
			SELECT 'No. of Stock Should be more than 0';
			RETURN;
		END

		IF(@MBD_DISCOUNTDESC = '')
		BEGIN
			SELECT 'Discount Description for Book Field is Empty';
			RETURN;
		END

		IF(@MBD_DISCOUNTDESC LIKE '%[^A-Za-z0-9 /-.,]%')
		BEGIN
			SELECT 'Invalid value in Discount Book Description Field';
			RETURN;
		END

		IF(@MBD_DISCOUNTDESC LIKE '%  %')
		BEGIN
			SELECT 'Words between Double Space Detected in Discount Book Description Field!!';
			RETURN;
		END

		IF(@MBD_DISCOUNTEDPRICE = '')
		BEGIN
			SELECT 'Discount Price for Book Field is Empty';
			RETURN;
		END

		IF(@MBD_DISCOUNTEDPRICE LIKE '%[^0-9]%')
		BEGIN
			SELECT 'Invalid value in Book Discount Price Field';
			RETURN;
		END

		IF(@MBD_DISCOUNTEDPRICE LIKE '% %')
		BEGIN
			SELECT 'Space Detected in Book Discount Price Field!!';
			RETURN;
		END

		IF(@MBD_DISCOUNTEDPRICE = '0')
		BEGIN
			SELECT 'Discount Price for Book Should be more than 0';
			RETURN;
		END

		IF(@MBD_IMGNAME = '')
		BEGIN
			SELECT 'Please Select Book Image!!';
			RETURN;
		END
			
		SELECT '1';
	END TRY
	BEGIN CATCH
		INSERT INTO IF_SQLLOG(SQL_PROC_NAME, SQL_ERROR_NUMBER, SQL_ERROR_DESCRIPTION, SQL_ERROR_LINE, SQL_SEVERITY, SQL_ERROR_STATE, SQL_DATETIME, SQL_USERID)
		VALUES(ERROR_PROCEDURE(), ERROR_NUMBER(), ERROR_MESSAGE(), ERROR_LINE(), ERROR_SEVERITY(), ERROR_STATE(), GETDATE(), 0)
		SELECT '0';
	END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[USP_VALIDATE_TEXTBOXES]    Script Date: 7/3/2022 8:54:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--EXEC [USP_VALIDATE_TEXTBOXES] 'Prem', '', 'B', '8765432190', '', 'Porur', '', 'Chennai', 'Thiruvallur', '600116', 'India', ''
CREATE PROC [dbo].[USP_VALIDATE_TEXTBOXES]
@CUST_FIRSTNAME VARCHAR(50), @CUST_MIDDLENAME VARCHAR(50), @CUST_LASTNAME VARCHAR(50), @MOBILE_NO VARCHAR(20), @UD_EMAILID VARCHAR(50), @ALTERMOBILE_NO VARCHAR(20),
@ADD_LINE1 VARCHAR(150), @ADD_LINE2 VARCHAR(150), @CITY VARCHAR(50), @DISTRICT VARCHAR(50), @PINCODE VARCHAR(10), @COUNTRY VARCHAR(50), @STATE VARCHAR(50), @QUAN VARCHAR(4)
AS
BEGIN
	BEGIN TRY
		IF(@CUST_FIRSTNAME = '' AND @CUST_LASTNAME = '' AND @MOBILE_NO = '' AND @UD_EMAILID = '' AND @ADD_LINE1 = '' AND @CITY = '' AND @DISTRICT = '' AND
		@PINCODE = '' AND @STATE = '')
		BEGIN
			SELECT '* Field are Mandatory, Please Fill it!!';
			RETURN;
		END

		IF(@CUST_FIRSTNAME = '')
		BEGIN
			SELECT 'First Name Field is Empty!!';
			RETURN;
		END

		IF(@CUST_FIRSTNAME LIKE '%[^A-Za-z]%')
		BEGIN
			SELECT 'Invalid values in First Name Field!!';
			RETURN;
		END

		IF(@CUST_FIRSTNAME LIKE '%  %')
		BEGIN
			SELECT 'Words between Double Space Detected in Customer First Name Field!!';
			RETURN;
		END

		IF(@CUST_MIDDLENAME != '')
		BEGIN
			IF(@CUST_MIDDLENAME LIKE '%[^A-Za-z]%')
			BEGIN
				SELECT 'Invalid values in Middle Name Field!!';
				RETURN;
			END

			IF(@CUST_MIDDLENAME LIKE '%  %')
			BEGIN
				SELECT 'Words between Double Space Detected in Customer Middle Name Field!!';
				RETURN;
			END
		END

		IF(@CUST_LASTNAME = '')
		BEGIN
			SELECT 'Last Name Field is Empty!!';
			RETURN;
		END

		IF(@CUST_LASTNAME LIKE '%[^A-Za-z]%')
		BEGIN
			SELECT 'Invalid values in Last Name Field!!';
			RETURN;
		END

		IF(@CUST_LASTNAME LIKE '%  %')
		BEGIN
			SELECT 'Words between Double Space Detected in Customer Last Name Field!!';
			RETURN;
		END

		IF(@MOBILE_NO = '')
		BEGIN
			SELECT 'Mobile Number Field is Empty!!';
			RETURN;
		END

		IF(@MOBILE_NO LIKE '%[^0-9]%')
		BEGIN
			SELECT 'Invalid values in Mobile Number Field!!';
			RETURN;
		END

		IF(@MOBILE_NO LIKE '% %')
		BEGIN
			SELECT 'Space Detected in Mobile Number Field!!';
			RETURN;
		END

		IF(@MOBILE_NO LIKE '%[0-9]%')
		BEGIN
			IF(SUBSTRING(@MOBILE_NO, 1, 1) LIKE '[^6-9]')
			BEGIN
				SELECT 'Invalid values in Mobile Number Field!!';
				RETURN;
			END
		END

		IF(@MOBILE_NO LIKE '%[0-9]%')
		BEGIN
			IF(LEN(@MOBILE_NO) != 10)
			BEGIN
				SELECT 'Invalid values in Mobile Number Field!!';
				RETURN;
			END
		END

		IF(@ALTERMOBILE_NO = '')
		BEGIN
			SELECT 'Alternate Mobile Number Field is Empty!!';
			RETURN;
		END

		IF(@ALTERMOBILE_NO LIKE '%[^0-9]%')
		BEGIN
			SELECT 'Invalid values in Alternate Mobile Number Field!!';
			RETURN;
		END

		IF(@ALTERMOBILE_NO LIKE '% %')
		BEGIN
			SELECT 'Space Detected in Alternate Mobile Number Field!!';
			RETURN;
		END

		IF(@ALTERMOBILE_NO LIKE '%[0-9]%')
		BEGIN
			IF(SUBSTRING(@ALTERMOBILE_NO, 1, 1) LIKE '[^6-9]')
			BEGIN
				SELECT 'Invalid values in Alternate Mobile Number Field!!';
				RETURN;
			END
		END

		IF(@ALTERMOBILE_NO LIKE '%[0-9]%')
		BEGIN
			IF(LEN(@ALTERMOBILE_NO) != 10)
			BEGIN
				SELECT 'Invalid values in Alternate Mobile Number Field!!';
				RETURN;
			END
		END

		IF(@UD_EMAILID = '')
		BEGIN
			SELECT 'MailID Field is Empty!!';
			RETURN;
		END

		IF(@UD_EMAILID LIKE '% %')
		BEGIN
			SELECT 'Space Detected in MailID Field!!';
			RETURN;
		END

		IF(@UD_EMAILID NOT LIKE '%_@__%.__%')
		BEGIN
			SELECT 'Invalid values in MailID Field!!';
			RETURN;
		END

		IF(@ADD_LINE1 = '')
		BEGIN
			SELECT 'Address Line1 Field is Empty!!';
			RETURN;
		END

		IF(@ADD_LINE1 LIKE '%[^A-Za-z0-9 &(),-_./]%')
		BEGIN
			SELECT 'Invalid values in Address Line1 Field!!';
			RETURN;
		END

		IF(@ADD_LINE1 LIKE '%  %')
		BEGIN
			SELECT 'Words between Double Space Detected in Address Line1 Field!!';
			RETURN;
		END

		IF(@ADD_LINE2 != '')
		BEGIN
			IF(@ADD_LINE2 LIKE '%[^A-Za-z0-9 &(),-_./]%')
			BEGIN
				SELECT 'Invalid values in Address Line2 Field!!';
				RETURN;
			END

			IF(@ADD_LINE2 LIKE '%  %')
			BEGIN
				SELECT 'Words between Double Space Detected in Address Line2 Field!!';
				RETURN;
			END
		END

		IF(@CITY = '')
		BEGIN
			SELECT 'City Field is Empty!!';
			RETURN;
		END

		IF(@CITY LIKE '%[^A-Za-z]%')
		BEGIN
			SELECT 'Invalid values in City Field!!';
			RETURN;
		END

		IF(@CITY LIKE '%  %')
		BEGIN
			SELECT 'Words between Double Space Detected in City Field!!';
			RETURN;
		END

		IF(@DISTRICT = '')
		BEGIN
			SELECT 'District Field is Empty!!';
			RETURN;
		END

		IF(@DISTRICT LIKE '%[^A-Za-z]%')
		BEGIN
			SELECT 'Invalid values in District Field!!';
			RETURN;
		END

		IF(@DISTRICT LIKE '%  %')
		BEGIN
			SELECT 'Words between Double Space Detected in District Field!!';
			RETURN;
		END

		IF(@COUNTRY = '')
		BEGIN
			SELECT 'Country Name Field is Empty!!';
			RETURN;
		END

		IF(@COUNTRY LIKE '%[^A-Za-z]%')
		BEGIN
			SELECT 'Invalid values in Country Name Field!!';
			RETURN;
		END

		IF(@COUNTRY LIKE '%  %')
		BEGIN
			SELECT 'Words between Double Space Detected in Country Name Field!!';
			RETURN;
		END

		IF(@PINCODE = '')
		BEGIN
			SELECT 'Pincode Field is Empty!!';
			RETURN;
		END

		IF(@PINCODE LIKE '%[^0-9]%')
		BEGIN
			SELECT 'Invalid values in Pincode Field!!';
			RETURN;
		END

		IF(@PINCODE LIKE '% %')
		BEGIN
			SELECT 'Space Detected in Pincode Field!!';
			RETURN;
		END

		IF(@PINCODE LIKE '%[0-9]%')
		BEGIN
			IF(@COUNTRY = 'India')
			BEGIN
				IF(LEN(@PINCODE) != 6)
				BEGIN
					SELECT 'Invalid values in Pincode Field!!';
					RETURN;
				END
			END
		END

		IF(@STATE = '')
		BEGIN
			SELECT 'State Field is Empty!!';
			RETURN;
		END

		IF(@STATE LIKE '%[^A-Za-z]%')
		BEGIN
			SELECT 'Invalid values in State Field!!';
			RETURN;
		END

		IF(@STATE LIKE '%  %')
		BEGIN
			SELECT 'Words between Double Space Detected in State Field!!';
			RETURN;
		END

		IF(@QUAN = '')
		BEGIN
			SELECT 'Quantity Field is Empty!!';
			RETURN;
		END

		IF(@QUAN LIKE '%[^0-9]%')
		BEGIN
			SELECT 'Quantity Should be in Numeric!!';
			RETURN;
		END

		IF(@QUAN LIKE '% %')
		BEGIN
			SELECT 'Space Detected in Quantity Field!!';
			RETURN;
		END

		IF(@QUAN = '0')
		BEGIN
			SELECT 'Quantity Should be more than 0!!';
			RETURN;
		END

		IF(LEN(@QUAN) > 2)
		BEGIN
			SELECT 'Quantity Should be IN 2 Digits!!';
			RETURN;
		END

		SELECT '1';
	END TRY
	BEGIN CATCH
		INSERT INTO IF_SQLLOG(SQL_PROC_NAME, SQL_ERROR_NUMBER, SQL_ERROR_DESCRIPTION, SQL_ERROR_LINE, SQL_SEVERITY, SQL_ERROR_STATE, SQL_DATETIME, SQL_USERID)
		VALUES(ERROR_PROCEDURE(), ERROR_NUMBER(), ERROR_MESSAGE(), ERROR_LINE(), ERROR_SEVERITY(), ERROR_STATE(), GETDATE(), 0)
		SELECT '0';
	END CATCH
END
GO
USE [master]
GO
